@import "tailwindcss";
@import "./gradient-backdrop.css";

@source "../../src/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

.smooth-transition {
  transition: 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
}
